*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: url('bg.jpg')  rgba(0, 0, 0, 0.6);
    background-blend-mode: multiply;
    color:white;
    background-size: cover;
    background-position: 0px -200px;
    background-attachment: fixed;
    min-width: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
   font-family:"Poppins", sans-serif;
}

@media (max-width:425px){
    body{
        background-repeat: no-repeat;
        background-position: -250px;
    }
}

#overlay{
    height: ;
    width: 100%;
    background: rgba(0,0,0,0.5);
    position: absolute;
    z-index: 0;
}

#intro{
    margin-top: 40px;
    z-index: 1;
}

#intro img{
    height: 120px;
    width: 120px;
    border-radius: 100px;
}

#intro h3{
    font-weight: 300;
}

#buttons{
    z-index: 0;
    margin-top: 15px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.button{
    margin-top: 15px;
    height: 56px;
    width: 448px;
    background: rgba(255,255,255,1);
    border-radius: 8px;
    display: flex;
    align-items: center;
    padding-left: 20px;
    transition: 0.2s;
}

.button:hover{
    height: 60px;
    width: 500px;
    margin-top:11px;
}

#sty{
    background: rgb(48,213,103);
}

#sty p{
    color: rgba(255,255,255,1);
}

.button img{
    height: 35px;

}

.button p{
    color:black;
    font-size: 18px;
    font-weight: 600;
    margin-left: 15px;
}

#buttons a{
    text-decoration: none;
}

footer {
    margin-top: 50px;
    margin-bottom: 5px;
}

footer a{
    font-size: 10px;
    text-decoration: none;
    color: rgba(255,255,255,1);
}
